.jumbotron{
	background-color: #29E68E;
	color: white;
	margin-top: 50px;
	
	
}

.footer{
	padding: 10px 10px 0 10px;
	background-color: #29E68E;
	margin-bottom: 0px;
	margin-top: 20px;
	color: white;
}
.card-hotel{

	flex:1 200px;/*flex para que se comporten de la misma manera todos los elementos*/
	
	margin-top: 10px;/*para la separacion*/
	
} 
.btn-reserva{
	width: 100%;
	border-radius: 0px;

}

h4{
	text-align: center;
}
.footer-address-icon{
	padding-right: 10px;
}
.tab-content{
	padding-top: 20px;
}