@green:	#20B2AA;
 .margenes(@top:0px, @bottom:0px){
     margin-top:@top;
     margin-bottom: @bottom;
 }

.jumbotron{
	background-color:@green;
	color: white;
    .margenes(50px, 0px);
}

.footer{
	padding: 10px 10px 0 10px;
	background-color:@green;
    color: white;
    .margenes(20px, 0px);
  
}
.card-hotel{
	flex:1 200px;/*flex para que se comporten de la misma manera todos los elementos*/
	.margenes(10px, 0px);
} 

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

h4{
	text-align: center;
}

.footer-address-icon{
	padding-right: 10px;
}
.tab-content{
	padding-top: 20px;
}