$green:	#20B2AA;
$yellow:#f5f233;
$red:#991313;
//$green:	#e45c0dd2;
@mixin margenes($top,$bottom) {
    margin-top: $top;
	margin-bottom: $bottom;
}
.jumbotron{
	background-color: $green;
	color: $red;
    @include margenes(50px,0px);
	
	
}

.footer{
	padding: 10px 10px 0 10px;
	background-color:$green;
    color:$yellow;
    @include margenes(20px,0px);
}
.card-hotel{
	flex:1 200px;/*flex para que se comporten de la misma manera todos los elementos*/
    @include margenes(10px,0px);/*para la separacion*/
} 
.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

h4{
	text-align: center;
}
.footer-address-icon{
	padding-right: 10px;
}
.tab-content{
	padding-top: 20px;
}