.jumbotron {
  background-color: #20B2AA;
  color: #991313;
  margin-top: 50px;
  margin-bottom: 0px;
}

.footer {
  padding: 10px 10px 0 10px;
  background-color: #20B2AA;
  color: #f5f233;
  margin-top: 20px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 200px;
  /*flex para que se comporten de la misma manera todos los elementos*/
  margin-top: 10px;
  margin-bottom: 0px;
  /*para la separacion*/
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

h4 {
  text-align: center;
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 20px;
}

/*# sourceMappingURL=styles.css.map */
